[Unit]
Description=TRNG Entropy Feeder
BindsTo=dev-trng.device
After=dev-trng.device

[Service]
Type=simple
ExecStart=/usr/sbin/rngd -f -r /dev/trng -o /dev/random
Restart=on-failure
RestartSec=2

[Install]
WantedBy=dev-trng.device
